body {
    line-height: 1.6;
    text-align: center;
    background: #F4F8F1;
}

li {
    list-style-type: none;
}

/* style header */
.hamburger_menu {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 24px;
    cursor: pointer;
    z-index: 2;
}

#hamburger_menu {
    display: none;
}

#hamburger_menu:checked ~ .nav_list {
    right: 0;
}

.nav_list {
    width: 60%;
    height: 100vh;
    background: #fff;
    position: fixed;
    right: -800px;
    top: 0;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 20px;
}

.nav_list a {
    display: flex;
    align-items: center;
    line-height: 2;
    color: #000;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

a:hover, .work_content a:hover, .song a:hover {
    color: #527853;
}

.icon {
    width: 24px;
    margin-right: 10px;
}

/* style main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0 55px;
    margin-top: 40px;
}

.main_center {
    justify-content: center;
    margin-top: 0;
}

.main_img {
    width: 220px;
}

h1 {
    font-family: "Nerko One", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: "Nerko One", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

/* style education page*/
.main_2 {
    display: grid;
    grid-template-columns: 55px 1fr 55px;
    margin-top: 40px;
    align-items: start;
    row-gap: 20px;
    align-content: start;
}

.content_2 {
    grid-column: 1/4;
}

.content ul {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main_center .content ul {
    line-height: 2;
}

.main_2 :last-child {
    margin-bottom: 20px;
}

/* style work page */
.work {
    grid-column: 2/3;
}

.project_info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.work_text {
    grid-column: 2/3;
}

.work_content {
    grid-column: 1/4;
    border: #B5B5B5 solid 1px;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 5px #B5B5B5;
}

.work_content img {
    max-width: 36px;
}

.work_content a {
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.water_color {
    background: #E4ECF5;
}

.work_img {
    width: 400px;
}

/* style music page*/
.song {
    grid-column: 2/3;
    max-width: 200px;
    justify-self: center;
}

.main_2 div:last-child {
    margin-bottom: 20px;
}

.song p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.song a{
    text-decoration: none;
    color: #000;
}

.song10 p {
    margin-bottom: 20px;
}

/* media on 768px */
@media screen and (min-width: 768px) {
    /* style header */
    .hamburger_menu {
        visibility: hidden;
    }

    header {
        background: #fff;

    }

    body {
        display: flex;
    }

    .nav_list {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: left;
        width: 200px;
        height: 100vh;
        background: #fff;
        left: 0;
        box-shadow: 5px 0 5px #B5B5B5;
    }

    .nav_list a {
        margin-left: 25px;
    }


    main {
        flex-direction: row;
        margin-left: 240px;
    }
    
    .main_img {
        min-width: 260px;
    }

    .content {
        text-align: left;
        margin-left: 40px;
    }

    .work {
        margin-left: 200px;
    }

    .main_2 {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: start;
        margin-top: 20px;
        align-content: start;
    }

    .content_2 {
        text-align: left;
    }

    .content_2 h2 {
        text-decoration: underline;
    }

    .song {
        align-items: center;
        max-width: 180px;
    }

    .work_content {
        text-align: left;
    }

    .main_center_web {
        justify-content: center;
        margin-top: 0;
    }

}